<?xml version="1.0"?>
<ruleset name="az-order">
    <file>.</file>
	<rule ref="HM-Minimum" />
	<!-- Exclude tests. -->
	<exclude-pattern>*/tests/*</exclude-pattern>

	<!-- Exclude external libraries and builds. -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node-modules/*</exclude-pattern>
</ruleset>